<!DOCTYPE html>
<html>
<head>
    <% include ../share/header.html %>
	<%-
		Loader()
		.css('/lib/bootstrap/3.3.6/css/bootstrap.css')
		.css('/lib/bootstrap/3.3.6/css/bootstrap-theme.css')
        .css('/src/css/icomoon-fonts.css')
		.css('/src/css/base.css')
		.css('/src/css/sign/login.css')
		.done({})
	%>
</head>
<body>
<% include ../share/nav.html %>
<article>
	<section>
		<div class="container">
            <div class="panel panel-default" id="register">
                <div class="panel-body"></div> 
            </div> 
        </div>
	</section>
</article>
<% include ../share/aside.html %>
<% include ../share/footer.html %>
<script src="/lib/seajs/3.0.0/sea.js" type="text/javascript"></script>
</body>
</html>

