<div class="login-layer hide" id="login-layer">
    <div class="login-panel">
        <div class="content flip flip-out" id="register">
            <h2 class="text-center">技术说</h2> 
            <div class="close"><i class="glyphicon glyphicon-remove"></i></div>
            <div class="holder">
                <div class="title">使用第三方账号注册</div>
                <div class="third-port text-center">
                    <a href="/auth/github"><i class="icon-github"></i></a>
                </div>
                <div class="title">使用邮箱注册</div>
                <div class="login-form">
                    <input type="text" name="email" class="form-control" placeholder="注册邮箱"/> 
                    <input type="password" name="password" class="form-control" placeholder="密码"/> 
                    <input type="password" name="repassword" class="form-control" placeholder="确认密码"/> 
                    <div class="btn btn-primary btn-block" id="register-btn">注册</div>
                </div>
                <div class="switch-back clearfix">
                    <div class="left-box text-primary"></div> 
                    <div class="right-box text-primary text-right go-flip">已有账号？点击登录>></div> 
                </div>
            </div> 
        </div>
		<div class="content flip" id="login">
            <h2 class="text-center">技术说</h2> 
            <div class="close"><i class="glyphicon glyphicon-remove"></i></div>
            <div class="holder">
                <div class="title">使用第三方账号登陆</div>
                <div class="third-port text-center">
                    <a href="/auth/github"><i class="icon-github"></i></a>
                </div>
                <div class="title">使用邮箱登陆</div>
                <div class="login-form">
                    <input type="text" name="email" class="form-control" placeholder="注册邮箱"/> 
                    <input type="password" name="password" class="form-control" placeholder="密码"/>
                    <div class="code-wrap clearfix">
                        <div class="left-box">
                            <input type="text" name="code" class="form-control"/>
                        </div> 
                        <div class="right-box">
                        </div> 
                    </div>
                    <div class="btn btn-primary btn-block" id="login-btn">登录</div>
                </div>
                <div class="switch-back clearfix">
                    <div class="left-box text-primary">忘记密码>></div> 
                    <div class="right-box text-primary text-right go-flip">还没有技术说账号？点击注册>></div> 
                </div>
            </div> 
        </div>
    </div>
</div>
