<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
	<div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
		<a class="navbar-brand" href="/">技术说</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
	  <ul class="nav navbar-nav">
		<%for(var i=0;i<config.navis.length;i++){%>
			<li class="<%= config.navis[i].code == curpos?'active':'' %>"><a href="<%= config.navis[i].url %>"><%= config.navis[i].name %></a></li>
		<%}%>
	  </ul>
	</div><!-- /.navbar-collapse -->
	<%if(!curuser){%>
		<div class="login-wrap" id="login-wrap">
			<div class="login-btn" id="login-btn">
				<i class="glyphicon glyphicon-user"></i>
				登陆/注册
			</div>  
		</div>
	<%}else{%>
		<div class="login-wrap clearfix" id="login-wrap"  data-id="<%= curuser._id %>">
			<div class="info">	
				<div class="portrait img-circle">
					<div class="img-box" data-src="<%= curuser.avatar_url %>"></div>	
				</div>
				<div class="username"><%= curuser.username %></div>
			</div>
			<div class="operation-panel">
				<div class="item"><a href="/signout">退出</a></div>	
			</div>
		</div>	
	<%}%>
  </div><!-- /.container-fluid -->
</nav>
