<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
	<div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
		<a class="navbar-brand" href="#">技术说</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
	  <ul class="nav navbar-nav">
		<%for(var i=0;i<config.navis.length;i++){%>
			<li class="<%= config.navis[i].code == curpos?'active':'' %>"><a href="<%= config.navis[i].url %>"><%= config.navis[i].name %></a></li>
		<%}%>
	  </ul>
	</div><!-- /.navbar-collapse -->
    <div class="login-wrap">
        <div class="login-btn">
            <a href="/sign/login">
                <i class="glyphicon glyphicon-user"></i>
                登陆/注册
            </a>
        </div>  
    </div>
  </div><!-- /.container-fluid -->
</nav>
