body {
    min-height: 1200px;
	padding: 0;
	padding-top: 70px;
	margin: 0;
	background-color: #ebebeb;
}
a:active,
a:visited,
a:hover,
a:link,
a {
	text-decoration: none;
    color: inherit;
    border: 0;
}
.container {
    position: relative;
}
.login-wrap {
    display: inline-block; 
    height: 100%;
    position:absolute;
    top: 0;
    right: 15px;
}
.login-wrap .login-btn {
    font-size: 1em;
    color: #9d9d9d;
    line-height: 30px;
    position: relative;
    top: 50%;
    margin-top: -15px;
} 
.login-btn a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}
.login-btn i {
    color: #cacaca;
}
.img-box{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #dbdbdb;
	overflow: hidden;
}

.img-box .img-holderplace {
	width: 100px;
	height: 40px;
	line-height: 40px;
	font-size: 1em;
	color: #fff;
	letter-spacing: .1em;
	text-align: center;
	position:absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -20px;
}

#load-more-wrap {
	margin-top: 5px;
	padding: 5px 0;
	line-height: 30px;
	font-size: 1.2em;
	text-align: center;
	letter-spacing: .2em;
	color: #999;
	cursor: pointer;
	background-color: #f7f7f7;
}
#load-more-wrap:hover {
	color: #333;
}
#load-more-wrap .loading img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

