body {
    min-height: 1200px;
	padding: 0;
	padding-top: 70px;
	margin: 0;
	background-color: #ebebeb;
}
a:active,
a:visited,
a:hover,
a:link,
a {
	text-decoration: none;
    color: inherit;
    border: 0;
}
.navbar-fixed-top {
	z-index: 8 !important;
}
.container {
    position: relative;
}
.login-wrap {
    display: inline-block; 
    height: 100%;
    position:absolute;
    top: 0;
    right: 15px;
}
.login-wrap .login-btn {
    font-size: 1em;
    color: #9d9d9d;
    line-height: 30px;
    position: relative;
    top: 50%;
    margin-top: -15px;
} 
.login-btn a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}
.login-btn i {
    color: #cacaca;
}
.img-box{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #dbdbdb;
	overflow: hidden;
}

.img-box .img-holderplace {
	width: 100px;
	height: 40px;
	line-height: 40px;
	font-size: 1em;
	color: #fff;
	letter-spacing: .1em;
	text-align: center;
	position:absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -20px;
}

#load-more-wrap {
	margin-top: 5px;
	padding: 5px 0;
	line-height: 30px;
	font-size: 1.2em;
	text-align: center;
	letter-spacing: .2em;
	color: #999;
	cursor: pointer;
	background-color: #f7f7f7;
}
#load-more-wrap:hover {
	color: #333;
}
#load-more-wrap .loading img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.editor-holder {
	padding: 15px;
	font-size: 1.2em;
	text-align: center;
	color: #666;
	line-height: 30px;
	background-color: #f0f0f0;
}
.editor-holder img {
	width: 25px;
	height: 25px;
}
.editor-footer {
	height: 49px;
	margin-top: -1px;
	line-height: 49px;
	border: 1px solid #ddd;
	border-top: 0;
	text-align: right;
}
.editor-footer .btn {
	margin-right: 15px;
}
.editor-footer .btn.save {
	padding-left: 35px;
	padding-right: 35px;
	background-color: #4078C0;
	color: #fff;
}
.editor-footer .save img{
	width: 20px;
	height: 20px;
}
.editor-footer .btn.cancel {
	background-color: #ebebeb;
	color: #666;
}
.gotop-tips {
	width: 100%;
	height: 150px;
	background-color: rgba(0,0,0,.4);
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 100;
	font-weight: normal;
}
.gotop-tips .container {
	font-size: 1.5em;
	line-height: 150px;
	color: #fff;
	letter-spacing: .1em;
}
.gotop-tips .container i {
	font-size: 1.7em;
}
.gotop-tips .cancel {
	width: 30px;
	height: 30px;
	font-size: 2em;
	line-height: 30px;
	text-align: center;
	color: #fff;
	position:absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}
