ul.content-panel,
ul.content-panel li {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.content-panel {
	background-color: #f7f7f7;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
}
ul.content-panel li {
    width: 50%;
	height: 148px;
	display: block;
	float: left;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	position: relative;
	cursor: pointer;
}

ul.content-panel .content-box {
	width: 100%;
	height: 100%;
    padding: 10px;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
}

ul.content-panel li:hover .content-box {
	width: 105%;
	height: 105%;
	margin-top: -2.5%;
	margin-left: -2.5%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: #fff;
	box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
	border: 1px solid #ebebeb;
    color: #333;
} 
.content-box .language {
	display: inline-block;
	padding: 0 10px;
	margin-left: -10px;
	border-radius: 2px;
	background-color: #999;
	font-size: 15px;
	line-height: 30px;
	color: #fff;
	
}
.content-box .name-wrap {
	padding: 15px 0;
    line-height: 1.6em;
    font-size: 1.4em;
    color: #000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.content-box .info-wrap {
    margin-top: 10px;
    font-size: 1.3em;
}
.content-box .info-wrap .block{
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    color: #999;
}
.content-box .info-wrap .block span {
    vertical-align: middle;
}
.content-box .info-wrap .text {
    font-size: 14px;
}
ul.content-panel li:hover .info-wrap .block {
    color: #555;
}
@media (min-width: 768px) {
    ul.content-panel li{
        width: 33.3333%;
    }
    ul.content-panel li:nth-of-type(3n){
        border-right: 0 solid #ebebeb;
    }
    ul.content-panel li:nth-of-type(4n){
        border-right: 1px solid #ebebeb;
    }
    ul.content-panel li:nth-of-type(5n){
        border-right: 1px solid #ebebeb;
    }
    .content-box .name-wrap {
    }
}
@media (min-width: 992px) {
    ul.content-panel li{
        width: 25%;
    }
    ul.content-panel li:nth-of-type(3n){
        border-right: 1px solid #ebebeb;
    }
    ul.content-panel li:nth-of-type(4n){
        border-right: 0 solid #ebebeb;
    }
    ul.content-panel li:nth-of-type(5n){
        border-right: 1px solid #ebebeb;
    }
    .content-box .name-wrap {
    }
}
@media (min-width: 1200px) {
    ul.content-panel li{
        width: 20%; 
    }
    ul.content-panel li:nth-of-type(3n){
        border-right: 1px solid #ebebeb;
    }
    ul.content-panel li:nth-of-type(4n){
        border-right: 1px solid #ebebeb;
    }
    ul.content-panel li:nth-of-type(5n){
        border-right: 0 solid #ebebeb;
    }
    .content-box .name-wrap {
    }
}

