ul.content-panel,
ul.content-panel li {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.content-panel {
	background-color: #f7f7f7;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
}
ul.content-panel li {
    width: 50%;
	height: 148px;
	display: block;
	float: left;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	position: relative;
	cursor: pointer;
}

ul.content-panel .content-box {
	width: 100%;
	height: 100%;
    padding: 10px;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
}

ul.content-panel li:hover .content-box {
	width: 105%;
	height: 105%;
	margin-top: -2.5%;
	margin-left: -2.5%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: #fff;
	box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
	border: 1px solid #ebebeb;
    color: #333;
} 
.content-box .language {
	display: inline-block;
	padding: 0 10px;
	margin-left: -10px;
	border-radius: 2px;
	background-color: #999;
	font-size: 15px;
	line-height: 30px;
	color: #fff;
	
}
.content-box .name-wrap {
	padding: 15px 0;
    line-height: 1.6em;
    font-size: 1.4em;
    color: #000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.content-box .info-wrap {
    margin-top: 10px;
    font-size: 1.3em;
}
.content-box .info-wrap .block{
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    color: #999;
}
.content-box .info-wrap .block span {
    vertical-align: middle;
}
.content-box .info-wrap .text {
    font-size: 14px;
}
ul.content-panel li:hover .info-wrap .block {
    color: #555;
}
@media (min-width: 768px) {
    ul.content-panel li{
        width: 33.3333%;
    }
    ul.content-panel li:nth-of-type(3n){
        border-right: 0 solid #ebebeb;
    }
    ul.content-panel li:nth-of-type(4n){
        border-right: 1px solid #ebebeb;
    }
    ul.content-panel li:nth-of-type(5n){
        border-right: 1px solid #ebebeb;
    }
    .content-box .name-wrap {
    }
}
@media (min-width: 992px) {
    ul.content-panel li{
        width: 25%;
    }
    ul.content-panel li:nth-of-type(3n){
        border-right: 1px solid #ebebeb;
    }
    ul.content-panel li:nth-of-type(4n){
        border-right: 0 solid #ebebeb;
    }
    ul.content-panel li:nth-of-type(5n){
        border-right: 1px solid #ebebeb;
    }
    .content-box .name-wrap {
    }
}
@media (min-width: 1200px) {
    ul.content-panel li{
        width: 20%; 
    }
    ul.content-panel li:nth-of-type(3n){
        border-right: 1px solid #ebebeb;
    }
    ul.content-panel li:nth-of-type(4n){
        border-right: 1px solid #ebebeb;
    }
    ul.content-panel li:nth-of-type(5n){
        border-right: 0 solid #ebebeb;
    }
    .content-box .name-wrap {
    }
}

#add-layer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.15);
	z-index: 100;
}

#add-layer .add-panel {
    width: 600px;
    height: 370px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    position:absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -200px;
}
#add-layer input[type=text] {
    width: 200; 
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#add-layer .add-title {
    height: 35px;
    border-bottom: 1px solid #ebebeb;
    font-size: 1.5em;
    line-height: 35px;
    position: relative;
}
#add-layer .add-title .close {
    width: 30px;
    height: 30px;
    font-size: 1.3em;
    line-height: 30px;
    color: #888;
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
}
#add-layer .add-title .close:hover {
    color: #555;
}
#add-layer .add-content {
    height: 255px;
    padding: 10px 0; 
}
#add-layer .fetch img {
    width: 25px;
    height: 25px;
}
#add-layer ul ,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
#add-layer .info-wrap {
    padding: 10px 0;
}
#add-layer .info-wrap li {
    width: 50%;
    font-size: 1em;
    line-height: 35px;
    float: left;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#add-layer .info-wrap li span:first-child{
    color: #666;
}
#add-layer .info-wrap li.desc {
    width: 100%;
}
#add-layer .add-btns {
    height: 60px;
    border-top: 1px solid #ebebeb;
    line-height: 59px;    
}
#add-layer .add-btns > div {
    display: inline-block;
}
#add-layer .add-btns .save img{
    width: 25px;
    height: 25px;
}
#add-layer .add-btns .message {
    margin-right: 10px;
}
#add-layer .add-btns .message a {
    color: #4078C0;
}

