ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#content-wrap {
	width: 75%;
    padding-left: 15px;
    min-height: 1px;
	float: left;
}
#content-wrap .content-panel {
    padding: 15px;
	margin-bottom: 25px;
	background-color: #fff;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	position: relative;
    overflow: hidden;
}

#content-wrap .content-list {
         
}
#content-wrap .content-list li {
    margin-bottom: 8px;
    padding: 15px; 
    border: 1px solid #ebebeb;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
    background-color: #fff;
    cursor: pointer;
}
#content-wrap .content-list li .top-box {
	height: 90px;	
	position: relative;
}
#content-wrap .content-list li .top-box .img-wrap {
	height: 100%;
	width: 145px;
	position: absolute;
	left: 0;
	top: 0;
}
#content-wrap .content-list li .top-box .title {
	font-size: 1.2em;
}
#content-wrap .content-list li .padding-left-img {
	padding-left: 160px;
}

#content-wrap .instruct {
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;
	border: 1px solid #ebebeb;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
	margin-bottom: 8px;
	position: relative;
}
#content-wrap #markdown {
	display: none;
}
#content-wrap .instruct .edit {
	width: 30px;
	height: 30px;
	font-size: 1em;
	line-height: 30px;
	font-weight: normal;
	color: #999;
	position: absolute;
	top: -4px;
	right: -4px;
	cursor: pointer;
}
#content-wrap .content-panel .edit:hover {
	color: #4078C0;
}
#aside-wrap {
	width: 25%;
    min-height: 1px;
	float: left;
}
#aside-wrap .aside-panel {
	padding: 15px;
	background-color: #f7f7f7;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.aside-panel .base-info-wrap h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.aside-panel .score-wrap {
    padding: 15px 0;
}
.aside-panel .base-info-wrap .score-wrap li{
    width: 50%;
    float: left;
}
.aside-panel .link-wrap {
    font-size: 1.15em;
    line-height: 30px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.aside-panel .link-wrap a {
    color: #4078C0;
}

.aside-panel .add-note {
    margin-top: 15px;
    font-size: 1.3em;
    line-height: 40px;
    color: #999;
    border: 1px solid #dbdbdb;
    cursor: pointer;
}
.aside-panel .add-note:hover {
    color: #4078C0;
}
.aside-panel .add-note a {
    display: block;
    width: 100%;
    height: 100%;
}

