ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
input[type=file]{
    display: inline;
}
#content-wrap {
	width: 75%;
    padding-left: 15px;
    min-height: 1px;
	float: left;
}
#content-wrap .content-panel {
    padding: 15px;
	margin-bottom: 25px;
	background-color: #fff;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	position: relative;
    overflow: hidden;
}
#content-wrap .content-panel h1 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 1.2em;
    margin-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
}
#content-wrap .content-panel .cover-wrap ,
#content-wrap .content-panel .title-wrap {
    padding-bottom: 15px;
    font-size: 1em;
    color: #111;
}
#content-wrap .content-panel input[type=text] {
    width: 300px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#aside-wrap {
	width: 25%;
    min-height: 1px;
	float: left;
}
#aside-wrap .aside-panel {
	padding: 15px;
	background-color: #f7f7f7;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.aside-panel .base-info-wrap h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.aside-panel .score-wrap {
    padding: 15px 0;
}
.aside-panel .base-info-wrap .score-wrap li{
    width: 50%;
    float: left;
}
.aside-panel .link-wrap {
    font-size: 1.15em;
    line-height: 30px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.aside-panel .link-wrap a {
    color: #4078C0;
}

