<!DOCTYPE html>
<html>
<head>
    <% include ../share/header.html %>
	<%-
		Loader()
		.css('/lib/bootstrap/3.3.6/css/bootstrap.css')
		.css('/lib/bootstrap/3.3.6/css/bootstrap-theme.css')
        .css('/src/css/icomoon-fonts.css')
		.css('/src/css/base.css')
		.css('/src/css/opensrc/list.css')
		.done({})
	%>
</head>
<body>
<% include ../share/nav.html %>
<article>
	<section>
		<div class="container" id="container">
            <div class="topmake-wrap row"> 
                <div class="col-xs-9 select-wrap">
                   <div class="title">语言：</div>
                   <div class="lang-item <%if(!pos){%>text-primary<%}%>"><a href="<%=path%>">全部</a></div>
                   <% for(var i=0;i<langData.length;i++){ %>
                       <div class="lang-item <%if(pos == langData[i].name){%>text-primary<%}%>"><a href="<%=path%>?lang=<%=langData[i].name%>"><%=langData[i].name%></a></div>
                   <%}%>
                </div>
                <div class="col-xs-3">
                    <div id="add-pro" title="点击添加开源项目"><a href="/opensrc/project/add"><i class="glyphicon glyphicon-plus"></i></a></div>  
                </div>
            </div>
			<ul class="content-panel clearfix" id="content-panel">
				<% for(var i=0;i<listData.length;i++) {%>
					<li>
                        <a href="/opensrc/notelist/<%=  listData[i]._id %>" target="_blank">
                            <div class="content-box">
                                <div class="language"><%=listData[i].language%></div>
                                <div class="name-wrap text-center">
                                    <%= listData[i].name %>
                                </div>
                                <div class="info-wrap clearfix">
                                    <div class="block">
                                        <span class="icon-github"></span> 
                                        <span class="text"><%= listData[i].starred %></span>
                                    </div>
                                    <div class="block">
                                        <span class="icon-eye"></span> 
                                        <span class="text"><%= listData[i].visit_count %></span>
                                    </div>
                                </div>
                            </div>
                        </a>
					</li>	
				<%}%>
			</ul>
            <div id="load-more-wrap">
                <div class="more">
				    加载更多
                </div>
			</div>
		</div>
	</section>
</article>
<% include ../share/footer.html %>
<% include ../share/login.html %>

<script type="text/template" id="list-item-tpl">
    <?for(var i=0;i<list.length;i++){?> 
        <li>
            <a href="/opensrc/notelist/<?= list[i]._id ?>" target="_blank">
                <div class="content-box">
                    <div class="language"><?= list[i].language ?></div>
                    <div class="name-wrap text-center">
                        <?= list[i].name ?>
                    </div>
                    <div class="info-wrap clearfix">
                        <div class="block">
                            <span class="icon-github"></span> 
                            <span class="text"><?= list[i].starred ?></span>
                        </div>
                        <div class="block">
                            <span class="icon-eye"></span> 
                            <span class="text"><?= list[i].visit_count ?></span>
                        </div>
                    </div>
                </div>
            </a>
        </li>	
    <?}?>
</script>

<script src="/lib/seajs/3.0.0/sea.js" type="text/javascript"></script>
<script>
	seajs.config({
		alias: {
			'jquery': '/lib/jquery/2.2.0/jquery.js'
		}
	});
	if(location.href.indexOf('dev=1') == -1){
		seajs.use('/src/js/opensrc/list.js');		
	}else {
		seajs.use('/dist/opensrc/list.min.js');		
	}
</script>
</body>
</html>

