<!DOCTYPE html>
<html>
<head>
    <% include ../share/header.html %>
	<%-
		Loader()
		.css('/lib/bootstrap/3.3.6/css/bootstrap.css')
		.css('/lib/bootstrap/3.3.6/css/bootstrap-theme.css')
        .css('/src/css/icomoon-fonts.css')
		.css('/src/css/base.css')
		.css('/src/css/opensrc/note-list.css')
		.done({})
	%>
</head>
<body>
<% include ../share/nav.html %>
<article>
	<section>
		<div class="container clearfix">
            <div id="aside-wrap" data-proid="<%=project._id%>">
                <div class="aside-panel">
                    <div class="base-info-wrap text-center">
                        <h2 ><%= project.name %></h2>
                        <ul class="score-wrap clearfix">
                            <li class="visit-wrap ">
                                <div class="num"><%= project.visit_count %></div>
                                <div class="title">访问数</div>
                            </li> 
                            <li class="like-wrap">
                                <div class="num"><%= project.like_count %></div>
                                <div class="title">点赞数</div>
                            </li> 
                        </ul>
                        <div class="link-wrap text-left">
                            <div class="link-item">
                                <i class="icon-github2"></i> 
                                <a href="<%= project.github_url %>" title="<%= project.github_url %>"><%= project.github_url?project.github_url:'无' %></a>
                            </div> 
                            <div class="link-item">
                                <i class="glyphicon glyphicon-link"></i> 
                                <a href="<%= project.home%>" title="<%= project.home %>"><%= project.home?project.home:'无'  %></a>
                            </div> 
                        </div>
                    </div>
                    <div class="add-note text-center" id="add-note" title="点击添加学习笔记">
                        <a href="/opensrc/note/add?proid=<%= project._id %>" target="_blank">
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>
                    </div>
                </div>    	        	
            </div>	
			<div id="content-wrap">
				<div class="instruct">	
					<div class="edit text-center" id="edit"><i class="glyphicon glyphicon-pencil"></i></div>
					<textarea id="markdown"></textarea>
					<div class="instruct-content">	<%- project.content -%> </div>	
				</div>
                <ul class="content-list">
                    <%for(var i = 0;i<notes.length;i++){%>
                        <li>
							<div class="top-box <%= notes[i].img_src ? 'padding-left-img' : ''%>">
								<%if(notes[i].img_src){%>
									<div class="img-wrap">
										<div class="img-box" data-src="<%= notes[i].img_src %>"></div>
									</div>	
								<%}%>
								<div class="title"><%= notes[i].title %></div>
							</div>
							<div class="bottom-box"></div>
                        </li>
                    <%}%>
                </ul>
            </div>
	</section>
</article>
<% include ../share/aside.html %>
<% include ../share/footer.html %>
<% include ../share/login.html %>

<script src="/lib/seajs/3.0.0/sea.js" type="text/javascript"></script>
<script src="/lib/seajs/3.0.0/seajs-css/seajs-css.js" type="text/javascript"></script>

<script>
	seajs.config({
		alias: {
			'jquery': '/lib/jquery/2.2.0/jquery.js',
			'ajaxFileUpload': '/lib/jquery/2.2.0/ajaxFileUpload.js',
			'simplemde': '/lib/simplemde/1.9.0/js/simplemde.min.js',
			'simplemde-css': '/lib/simplemde/1.9.0/css/simplemde.min.css',
			'uploadi': '/lib/simplemde/1.9.0/js/widget/uploadi.js',
			'uploadi-css': '/lib/simplemde/1.9.0/css/widget/uploadi.css'
		}
	});
	if(location.href.indexOf('dev=1') == -1){
		seajs.use('/src/js/opensrc/note.list.js');		
	}else {
		seajs.use('/dist/opensrc/note.list.min.js');		
	}
</script>
</body>
</html>

