<!DOCTYPE html>
<html>
<head>
    <% include ../share/header.html %>
	<%-
		Loader()
		.css('/lib/bootstrap/3.3.6/css/bootstrap.css')
		.css('/lib/bootstrap/3.3.6/css/bootstrap-theme.css')
        .css('/src/css/icomoon-fonts.css')
		.css('/src/css/base.css')
		.css('/src/css/opensrc/note-list.css')
		.done({})
	%>
</head>
<body>
<% include ../share/nav.html %>
<article>
	<section>
		<div class="container clearfix">
            <div id="aside-wrap">
                <div class="aside-panel">
                    <div class="base-info-wrap text-center">
                        <h2 ><%= data[0].name %></h2>
                        <ul class="score-wrap clearfix">
                            <li class="visit-wrap ">
                                <div class="num"><%= data[0].visit_count %></div>
                                <div class="title">访问数</div>
                            </li> 
                            <li class="like-wrap">
                                <div class="num"><%= data[0].like_count %></div>
                                <div class="title">点赞数</div>
                            </li> 
                        </ul>
                    </div>  
                </div>    	        	
            </div>	
			<div id="content-wrap">
                <ul class="content">
                    <%for(var i = 0;i<data[1].length;i++){%>
                        <li>
                            <h5><%= data[1][i].title %></h5>
                        </li>
                    <%}%>
                </ul>
            </div>
	</section>
</article>
<% include ../share/aside.html %>
<% include ../share/footer.html %>
<% include ../share/login.html %>

<script src="/lib/seajs/3.0.0/sea.js" type="text/javascript"></script>
<script>
	seajs.config({
		alias: {
			'jquery': '/lib/jquery/2.2.0/jquery.js'
		}
	});
	if(location.href.indexOf('dev=1') == -1){
		seajs.use('/src/js/opensrc/note.list.js');		
	}else {
		seajs.use('/dist/opensrc/note.list.min.js');		
	}
</script>
</body>
</html>

