<!DOCTYPE html>
<html>
<head>
    <% include ../share/header.html %>
	<%-
		Loader()
		.css('/lib/bootstrap/3.3.6/css/bootstrap.css')
		.css('/lib/bootstrap/3.3.6/css/bootstrap-theme.css')
        .css('/src/css/icomoon-fonts.css')
		.css('/src/css/base.css')
		.css('/src/css/opensrc/note-add.css')
		.done({})
	%>
</head>
<body>
<% include ../share/nav.html %>
<article>
	<section>
		<div class="container clearfix">
            <div id="aside-wrap">
                <div class="aside-panel">
                    <div class="base-info-wrap text-center">
                        <h2 ><%= project && project.name || ""%></h2>
                        <ul class="score-wrap clearfix">
                            <li class="visit-wrap ">
                                <div class="num"><%= project && project.visit_count || ""%></div>
                                <div class="title">访问数</div>
                            </li> 
                            <li class="like-wrap">
                                <div class="num"><%= project && project.like_count || ""%></div>
                                <div class="title">点赞数</div>
                            </li> 
                        </ul>
                        <div class="link-wrap text-left">
                            <div class="link-item">
                                <i class="icon-github2"></i> 
                                <a href="<%= project && project.github_url %>" title="<%= project && project.github_url %>"><%= project && project.github_url?project.github_url:'无' %></a>
                            </div> 
                            <div class="link-item">
                                <i class="glyphicon glyphicon-link"></i> 
                                <a href="<%= project && project.home%>" title="<%= project && project.home %>"><%= project && project.home?project.home:'无'  %></a>
                            </div> 
                        </div>
                    </div>
                </div>    	        	
            </div>	
            <div id="content-wrap">
                <div class="content-panel">
                    <h1>记录“<%= project && project.name || ""%>”开源项目学习笔记</h1> 
                    <div class="title-wrap">
                        <span>标题:&nbsp;</span>
                        <input type="text" class="" id="title" placeholder="标题">
                    </div>
                    <div class="cover-wrap">
                        <span>封面图:&nbsp;</span>
                        <input type="file" class="" id="cover-image" placeholder="封面图">
                    </div>
                    <div class="markdown-wrap">
                    
                    </div>
                </div> 
            </div>
        </div>
	</section>
</article>
<% include ../share/aside.html %>
<% include ../share/footer.html %>
<% include ../share/login.html %>

<script src="/lib/seajs/3.0.0/sea.js" type="text/javascript"></script>
<script>
	seajs.config({
		alias: {
			'jquery': '/lib/jquery/2.2.0/jquery.js'
		}
	});
	if(location.href.indexOf('dev=1') == -1){
		seajs.use('/src/js/opensrc/note.add.js');		
	}else {
		seajs.use('/dist/opensrc/note.add.min.js');		
	}
</script>
</body>
</html>

