a:active,
a:visited,
a:hover,
a:link,
a {
	text-decoration: none;
}
ul.content-panel,
ul.content-panel li {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.content-panel {
	background-color: #f7f7f7;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
}

ul.content-panel li {
    width: 50%;
    height: 150px;
	display: block;
	float: left;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	position: relative;
}

ul.content-panel .content-box {
	width: 100%;
	height: 100%;
    padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
}

ul.content-panel li:hover .content-box{
	width: 105%;
	height: 105%;
	margin-top: -2.5%;
	margin-left: -2.5%;
	z-index: 2;
	background-color: #fff;
	box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
	border: 1px solid #ebebeb;
    color: #333;
}
ul.content-panel li:hover .img-wrap {
	visibility: hidden;
}
.content-box .img-wrap {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
}
li .like-wrap {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -25px;
	z-index: 3;
	font-size: 1.8em;
	line-height: 50px;
	text-align: center;
	color: #fff;
	background-color: #2480ea;
	opacity: 0;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	cursor: pointer;
}
li:hover .like-wrap {
	opacity: 1;
}
.content-box .name-wrap {
    height: 40px;
    line-height: 40px;
    font-size: 1.24em;
    color: #444;
}
.content-box .info-wrap {
    margin-top: 10px;
    font-size: 1.3em;
}
.content-box .info-wrap .block{
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    color: #999;
}
.content-box .info-wrap .block span {
    vertical-align: middle;
}
.content-box .info-wrap .text {
    font-size: 14px;
}
ul.content-panel li:hover .info-wrap .block {
    color: #555;
}
@media (min-width: 768px) {
    ul.content-panel li{
        width: 33.3333%;
        height: 160px;
    }
    ul.content-panel li:nth-of-type(3n){
        border-right: 0 solid #ebebeb;
    }
    ul.content-panel li:nth-of-type(4n){
        border-right: 1px solid #ebebeb;
    }
    ul.content-panel li:nth-of-type(5n){
        border-right: 1px solid #ebebeb;
    }
    .content-box .img-wrap {
        width: 65px;
        height: 65px;
    }
	li .like-wrap {
		width: 65px;
		height: 65px;
		line-height: 65px;
		margin-left: -33px;
		top: 5px;
	}
    .content-box .name-wrap {
        height: 40px;
        line-height: 40px;
    }
}
@media (min-width: 992px) {
    ul.content-panel li{
        width: 25%;
	    height: 170px;
    }
    ul.content-panel li:nth-of-type(3n){
        border-right: 1px solid #ebebeb;
    }
    ul.content-panel li:nth-of-type(4n){
        border-right: 0 solid #ebebeb;
    }
    ul.content-panel li:nth-of-type(5n){
        border-right: 1px solid #ebebeb;
    }
    .content-box .img-wrap {
        width: 70px;
        height: 70px;
    }
	li .like-wrap {
		width: 70px;
		height: 70px;
		line-height: 70px;
		margin-left: -35px;
		top: 5px;
	}
    .content-box .name-wrap {
        height: 45px;
        line-height: 45px;
    }
}
@media (min-width: 1200px) {
    ul.content-panel li{
        width: 20%; 
	    height: 180px;
    }
    ul.content-panel li:nth-of-type(3n){
        border-right: 1px solid #ebebeb;
    }
    ul.content-panel li:nth-of-type(4n){
        border-right: 1px solid #ebebeb;
    }
    ul.content-panel li:nth-of-type(5n){
        border-right: 0 solid #ebebeb;
    }
    .content-box .img-wrap {
        width: 74px;
        height: 74px;
    }
	li .like-wrap {
		width: 74px;
		height: 74px;
		line-height: 74px;
		top: 5px;
		margin-left: -37px;
	}
    .content-box .name-wrap {
        height: 50px;
        line-height: 50px;
    }
}

