<!DOCTYPE html>
<html>
<head>
    <% include ../share/header.html %>
	<%-
		Loader()
		.css('/lib/bootstrap/3.3.6/css/bootstrap.css')
		.css('/lib/bootstrap/3.3.6/css/bootstrap-theme.css')
        .css('/src/css/icomoon-fonts.css')
		.css('/src/css/base.css')
		.css('/src/css/daniel/list.css')
		.done({})
	%>
</head>
<body>
<% include ../share/nav.html %>
<article>
	<section>
		<div class="container">
			<ul class="content-panel clearfix" id="content-panel">
				<%for(var i=0;i<data.length;i++) {%>
					<li>
						<div class="like-wrap icon-thumbs-up" data-id="<%=data[i]._id%>" data-count="<%=data[i].like_count%>"></div>
						<a href="/daniel/view/<%= data[i]._id %>" target="_blank">
							<div class="content-box">
								<div class="img-wrap">
									<div class="img-box" data-src="<%= data[i].head_src %>"></div>
								</div>
								<div class="name-wrap text-center"><%= data[i].name %>&nbsp;&nbsp;<small><%= data[i].code %></small></div>
								<div class="info-wrap clearfix">
									<div class="block">
										<span class="icon-github"></span> 
										<span class="text"><%= data[i].followers %></span>
									</div>
									<div class="block">
										<span class="icon-eye"></span>
										<span class="text"><%= data[i].visit_count%></span>
									</div>
								</div>
							</div>
						</a>
					</li>
				<%}%>
			</ul>
			<div id="load-more-wrap">
                <div class="more">
				    加载更多
                </div>
			</div>
		</div>
	</section>
</article>
<% include ../share/aside.html %>
<% include ../share/footer.html %>
<script type="text/template" id="list-item-tpl">
    <?for(var i=0;i<list.length;i++){?> 
        <li>
            <div class="like-wrap icon-thumbs-up" data-id="<?=list[i]._id?>" data-count="<?=list[i].like_count?>"></div>
			<a href="/daniel/view/<?= list[i]._id ?>" target="_blank">
				<div class="content-box">	
					<div class="img-wrap"> 
						<div class="img-box" data-src="<?= list[i].head_src ?>"></div>
					</div>
					<div class="name-wrap text-center"><?= list[i].name ?>&nbsp;&nbsp;<small><?= list[i].code ?></small></div>
					<div class="info-wrap clearfix">
						<div class="block">
							<span class="icon-github"></span> 
							<span class="text"><?= list[i].followers ?></span>
						</div>
						<div class="block">
							<span class="icon-eye"></span>
							<span class="text"><?= list[i].visit_count?></span>
						</div>
					</div>
				</div>
			</a>
        </li>	
    <?}?>
</script>
<script src="/lib/seajs/3.0.0/sea.js" type="text/javascript"></script>
<script>
	seajs.config({
		alias: {
			'jquery': '/lib/jquery/2.2.0/jquery.js'
		}
	});
	if(location.href.indexOf('dev=1') == -1){
		seajs.use('/src/js/daniel/list.js');		
	}else {
		seajs.use('/dist/daniel/list.min.js');		
	}
</script>
</body>
</html>

