<!DOCTYPE html>
<html>
<head>
    <% include ../share/header.html %>
	<%-
		Loader()
		.css('/lib/bootstrap/3.3.6/css/bootstrap.css')
		.css('/lib/bootstrap/3.3.6/css/bootstrap-theme.css')
        .css('/src/css/icomoon-fonts.css')
		.css('/src/css/base.css')
		.css('/src/css/daniel/view.css')
		.done({})
	%>
</head>
<body>
<% include ../share/nav.html %>
<article>
	<section>
		<div class="container clearfix">
			<div id="aside-wrap">
				<div class="aside-panel">
					<div class="portrait" id="portrait" data-id="<%= data._id %>">
						<div class="img-box" data-src="<%= data.head_src %>"></div>	
					</div>
                    <ul class="score-wrap clearfix">
                       <li>
                            <div class=""><%= data.followers %></div>
                            <div class="title">Followers</div>
                        </li>  
                       <li>
                            <div class=""><%= data.starred %></div>
                            <div class="title">Starred</div>
                       </li>  
                    </ul>
					<div class="name"><i class="icon-tag"></i>&nbsp;<%= data.name %>&nbsp;<small><%= data.code %></small></div>
					<div class="github"><i class="icon-github2"></i>&nbsp;<a href="<%= data.github_url %>" target="_blank" title="<%=data.github_url%>"><%= data.github_url %></a></div>
					<div class="blog"><i class="glyphicon glyphicon-link"></i>&nbsp;<a href="<%= data.blog_url?data.blog_url:'#' %>" target="_blank" title="<%=data.blog_url?data.blog_url:''%>"><%= data.blog_url?data.blog_url:'无' %></a></div>
				</div>
			</div>	
			<div id="content-wrap">
				<textarea id="old-markdown" style="display:none"><%= data.markdown?data.markdown:'' %></textarea>
				<div class="content-panel">
                    <%if( data.html ){%>
						<div class="edit text-center" id="edit"><i class="glyphicon glyphicon-pencil"></i></div>
						<div class="content">
							<%- data.html %>
						</div>
                    <%}else{%>
						<div class="edit text-center hide" id="edit"><i class="glyphicon glyphicon-pencil"></i></div>
						<div class="content">
							<div class="empty-wrap text-center">
								<div id="empty-btn">暂时没有简介，点击添加吧</div> 
							</div>
						</div>
                    <%}%>
					<textarea id="markdown"></textarea>
                </div>	
			</div>
		</div>
	</section>
</article>
<% include ../share/aside.html %>
<% include ../share/footer.html %>
<script src="/lib/seajs/3.0.0/sea.js" type="text/javascript"></script>
<script src="/lib/seajs/3.0.0/seajs-css/seajs-css.js" type="text/javascript"></script>
<script>
	seajs.config({
		alias: {
			'jquery': '/lib/jquery/2.2.0/jquery.js',
			'simplemde': '/lib/simplemde/1.9.0/js/simplemde.min.js',
			'simplemde-css': '/lib/simplemde/1.9.0/css/simplemde.min.css',
			'uploadi': '/lib/simplemde/1.9.0/js/widget/uploadi.js',
			'uploadi-css': '/lib/simplemde/1.9.0/css/widget/uploadi.css'
		}
	});
	if(location.href.indexOf('dev=1') == -1){
		seajs.use('/src/js/daniel/view.js');		
	}else {
		seajs.use('/dist/daniel/view.min.js');		
	}
</script>
</body>
</html>

